@use '../utils/' as *;

.add_book {
  background-color: var(--cl-md-violet);
  padding-block: rem(60);
  border-radius: rem(4);
  padding-inline: rem(30);

  @include breakpoint(medium) {
    padding-inline: rem(60);
  }

  &__form {
    display: grid;
    justify-content: center;
    gap: rem(60);

    &__img {
      border: none;
      justify-self: center;

      input {
        display: none;
      }

      label {
        display: grid;
        place-content: center;
        cursor: pointer;
        width: rem(137);
        height: rem(170);
        border: 2px solid var(--cl-dk-violet);
        border-radius: rem(4);
      }

      i {
        font-size: rem(40);
        color: var(--cl-dk-violet);
      }
    }

    &__info {
      label {
        display: block;
        margin-bottom: rem(6);
      }
      input {
        background-color: var(--cl-dk-violet);
        padding-block: rem(8);
        padding-inline: rem(6);
        font-size: rem(16);
        border-radius: rem(4);
        width: 100%;
        margin-bottom: rem(20);
        color: var(--cl-white);

        &::placeholder {
          color: var(--cl-body);
        }

        &:focus,
        &:hover {
          outline: none;
          box-shadow: 0 0 0 3px var(--cl-vk-violet),
            0 0 0 6px var(--cl-dk-violet);
        }
      }
      fieldset {
        border: none;
      }

      &--bottom-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(30);

        label i {
          color: var(--cl-body);
          font-size: rem(13);
        }
      }

      .book_info__tooltip {
        display: none;
      }

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--cl-dk-violet);
        margin-top: rem(30);
      }
    }

    &__previsao {
      display: grid;
      gap: rem(6);

      i {
        margin-right: rem(10);
        font-size: rem(14);
      }

      .data-prevista {
        color: var(--cl-white);
      }
    }

    .form__btn {
      justify-self: end;
      display: flex;
      gap: (40px);
    }
  }
}
