@use '../utils' as *;


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

h1, h2, h3 {
  line-height: 1;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--cl-vdark-blue);
  color: var(--cl-body);
}

.section {
  padding-block: rem(30);
}
