@use '../utils' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  border: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--cl-vk-violet);
  color: var(--cl-body);
  font-family: var(--ff-nunito);
  position: relative;
}

fieldset {
  border: none;
}

input {
  background-color: var(--cl-dk-violet);
  padding-block: rem(8);
  padding-inline: rem(6);
  font-size: rem(16);
  border-radius: rem(4);
  width: 100%;
  margin-bottom: rem(20);
  color: var(--cl-white);

  &::placeholder {
    color: var(--cl-body);
  }

  &:focus,
  &:hover {
    outline: none;
    box-shadow: 0 0 0 3px var(--cl-vk-violet), 0 0 0 6px var(--cl-dk-violet);
  }
}

.section {
  padding-block: rem(30);
}

.form__btn {
  justify-self: end;
  display: flex;
  gap: (20px);
}

.btn {
  border-radius: rem(4);
  background: transparent;
  border: none;
  font-size: rem(16);
  cursor: pointer;
  padding-block: rem(10);
}

.btn--cancel {
  color: var(--cl-body);
  text-decoration: underline;
}

.btn--red {
  padding-inline: rem(20);
  background: var(--cl-accent);
  transition: 0.3s ease;
  color: var(--cl-white);

  &:focus,
  &:hover {
    outline: none;
    box-shadow: 0 0 0 3px var(--cl-vk-violet), 0 0 0 6px var(--cl-accent);
  }
}

.alert {
  color: #fff;
  padding-block: rem(4);
  padding-inline: rem(10);
  margin-top: rem(20);
  width: max-content;
  margin-inline: auto;
}

.alert-error {
  background: var(--cl-error);
}

.alert-success {
  background: var(--cl-success);
}

// progress bar
.progress {
  &__info {
    display: flex;
    justify-content: space-between;
    font-size: rem(10);
    margin-bottom: rem(10);
  }

  &__bar {
    height: 7px;
    overflow: hidden;
    background: var(--cl-dk-violet);
    border-radius: rem(10);
    position: relative;

    span {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1%;
      height: 100%;
      background: var(--cl-md-blue);
    }
  }
}

.previsao {
  display: grid;
  gap: rem(6);
  font-size: rem(12);

  i {
    margin-right: rem(10);
    font-size: rem(14);
  }

  .data-prevista {
    color: var(--cl-white);
    font-size: rem(16);
  }
}

.completed_book {
  text-transform: uppercase;
  color: var(--cl-white);
  font-weight: 700;
  font-size: rem(18);
}
