@use '../utils' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  border: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--cl-vk-violet);
  color: var(--cl-body);
  font-family: 'Nunito', sans-serif;
}

.section {
  padding-block: rem(30);
}

.btn {
  background: transparent;
  border: none;
  font-size: rem(16);
  cursor: pointer;
  padding-block: rem(10);
}

.btn--cancel {
  color: var(--cl-body);
  text-decoration: underline;
}

.btn--red {
  padding-inline: rem(30);
  background: var(--cl-accent);
  border-radius: rem(4);
  transition: 0.3s ease;
  color: var(--cl-white);

  &:focus,
  &:hover {
    outline: none;
    box-shadow: 0 0 0 3px var(--cl-vk-violet), 0 0 0 6px var(--cl-accent);
  }
}
