:root {
  --cl-white: hsl(0, 0%, 100%);
  --cl-body: hsl(0, 0%, 65%);
  --cl-black: hsl(0, 0%, 0%);
  --cl-accent: hsl(349, 83%, 45%);
  --cl-md-blue: hsl(213, 38%, 37%);
  --cl-dk-violet: hsl(256, 19%, 16%);
  --cl-vk-violet: hsl(260, 21%, 5%);
}
